/* The main table in the calendar container */
.calendar table {
	width:100%;
}

/* The table header */
.calendar table th {
	text-align:center;
}

/* The first row of the calendar listing the day names */
.calendar table tbody tr:first-child td {
	height:32px;
}

/* All calendar rows representing days of the month */
.calendar table tbody tr td {
	height:100px;
}