/* Space out the rows in the BS container */
.container > .row {
	margin-top:20px;
}

.container > .row:first-child {
	margin-top:0px;
}

.calendar table {
	width:100%;
	height:400px;
}

.calendar table th {
	text-align:center;
}

/* Override styles for the BS navbar */
.navbar {
	border-radius:0;
}

/* Basic top margin */
.margin-top-10 {
	margin-top:10px;
}

/* Kill left padding */
.no-left-pad {
	padding-left:0;
}