/* Space out the rows in the BS container */
.container > .row {
	margin-top:20px;
}

.container > .row:first-child {
	margin-top:0px;
}

/* Override styles for the BS navbar */
.navbar {
	border-radius:0;
}

/* Change the "active" navbar item */
.navbar .nav > .active > a
{	
   /* CSS trick to disable link-click redirect on WebKit browsers */
   pointer-events:none;
   cursor:default;
}

/* Basic top margin */
.margin-top-10 {
	margin-top:10px;
}

/* Kill left padding */
.no-left-pad {
	padding-left:0;
}